#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
bin/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.dll
*.pdb
bin/
obj/
/.vs/CarrinhoDeCompras/v15/.suo
/.vs/CarrinhoDeCompras/v15/sqlite3/storage.ide
/CarrinhoDeCompras.Application.Test/bin/Debug/CarrinhoDeCompras.Application.dll
/CarrinhoDeCompras.Application.Test/bin/Debug/CarrinhoDeCompras.Application.pdb
/CarrinhoDeCompras.Application.Test/bin/Debug/CarrinhoDeCompras.Application.Test.dll
/CarrinhoDeCompras.Application.Test/bin/Debug/CarrinhoDeCompras.Application.Test.pdb
/CarrinhoDeCompras.Application.Test/bin/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.Application.Test/bin/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.Application.Test/obj/Debug/CarrinhoDeCompras.Application.Test.csprojResolveAssemblyReference.cache
/CarrinhoDeCompras.Application.Test/obj/Debug/CarrinhoDeCompras.Application.Test.dll
/CarrinhoDeCompras.Application.Test/obj/Debug/CarrinhoDeCompras.Application.Test.pdb
/CarrinhoDeCompras.Application/bin/Debug/CarrinhoDeCompras.Application.dll
/CarrinhoDeCompras.Application/bin/Debug/CarrinhoDeCompras.Application.pdb
/CarrinhoDeCompras.Application/bin/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.Application/bin/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.Application/obj/Debug/CarrinhoDeCompras.Application.csprojResolveAssemblyReference.cache
/CarrinhoDeCompras.Application/obj/Debug/CarrinhoDeCompras.Application.dll
/CarrinhoDeCompras.Application/obj/Debug/CarrinhoDeCompras.Application.pdb
/CarrinhoDeCompras.Domain/bin/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.Domain/bin/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.Domain/obj/Debug/CarrinhoDeCompras.Domain.csproj.FileListAbsolute.txt
/CarrinhoDeCompras.Domain/obj/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.Domain/obj/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Application.dll
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Application.pdb
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.dll
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.pdb
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Infra.Data.EF.dll
/CarrinhoDeCompras.Infra.CrossCutting.IoC/bin/Debug/CarrinhoDeCompras.Infra.Data.EF.pdb
/CarrinhoDeCompras.Infra.CrossCutting.IoC/obj/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.csprojResolveAssemblyReference.cache
/CarrinhoDeCompras.Infra.CrossCutting.IoC/obj/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.dll
/CarrinhoDeCompras.Infra.CrossCutting.IoC/obj/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.pdb
/CarrinhoDeCompras.Infra.Data.EF/bin/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.Infra.Data.EF/bin/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.Infra.Data.EF/bin/Debug/CarrinhoDeCompras.Infra.Data.EF.dll
/CarrinhoDeCompras.Infra.Data.EF/bin/Debug/CarrinhoDeCompras.Infra.Data.EF.pdb
/CarrinhoDeCompras.Infra.Data.EF/obj/Debug/CarrinhoDeCompras.Infra.Data.EF.csprojResolveAssemblyReference.cache
/CarrinhoDeCompras.Infra.Data.EF/obj/Debug/CarrinhoDeCompras.Infra.Data.EF.dll
/CarrinhoDeCompras.Infra.Data.EF/obj/Debug/CarrinhoDeCompras.Infra.Data.EF.pdb
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Application.dll
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Application.pdb
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.dll
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Infra.CrossCutting.IoC.pdb
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Infra.Data.EF.dll
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.Infra.Data.EF.pdb
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.UI.dll
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.UI.pdb
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.UI.Tests.dll
/CarrinhoDeCompras.UI.Tests/bin/Debug/CarrinhoDeCompras.UI.Tests.pdb
/CarrinhoDeCompras.UI.Tests/obj/Debug/CarrinhoDeCompras.UI.Tests.csprojResolveAssemblyReference.cache
/CarrinhoDeCompras.UI.Tests/obj/Debug/CarrinhoDeCompras.UI.Tests.dll
/CarrinhoDeCompras.UI.Tests/obj/Debug/CarrinhoDeCompras.UI.Tests.pdb
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Application.dll
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Application.pdb
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Domain.dll
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Domain.pdb
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Infra.CrossCutting.IoC.dll
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Infra.CrossCutting.IoC.pdb
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Infra.Data.EF.dll
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.Infra.Data.EF.pdb
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.UI.dll
/CarrinhoDeCompras.UI/bin/CarrinhoDeCompras.UI.pdb
/CarrinhoDeCompras.UI/bin/Ninject.dll
/CarrinhoDeCompras.UI/obj/Debug/CarrinhoDeCompras.UI.csprojResolveAssemblyReference.cache
/CarrinhoDeCompras.UI/obj/Debug/CarrinhoDeCompras.UI.dll
/CarrinhoDeCompras.UI/obj/Debug/CarrinhoDeCompras.UI.pdb
